  :root {
    --surface-a:#ffffff;
    --surface-b:#f8f9fa;
    --surface-c:#e9ecef;
    --surface-d:#dee2e6;
    --surface-e:#ffffff;
    --surface-f:#ffffff;
    --text-color:#495057;
    --text-color-secondary:#6c757d;
    --primary-color:#FFC107;
    --primary-color-text:#212529;
    --font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --surface-0: #ffffff;
    --surface-50: #FAFAFA;
    --surface-100: #F5F5F5;
    --surface-200: #EEEEEE;
    --surface-300: #E0E0E0;
    --surface-400: #BDBDBD;
    --surface-500: #9E9E9E;
    --surface-600: #757575;
    --surface-700: #616161;
    --surface-800: #424242;
    --surface-900: #212121;
    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;
    --content-padding:1rem;
    --inline-spacing:0.5rem;
    --border-radius:3px;
    --surface-ground:#f8f9fa;
    --surface-section:#ffffff;
    --surface-card:#ffffff;
    --surface-overlay:#ffffff;
    --surface-border:#dee2e6;
    --surface-hover: #e9ecef;
    --focus-ring: 0 0 0 0.2rem #ffe69c;
    --maskbg: rgba(0, 0, 0, 0.4);
  }

  * {
    box-sizing: border-box;
  }

  .p-component {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: normal;
  }

  .p-component-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
  }

  .p-disabled, .p-component:disabled {
    opacity: 0.6;
  }

  .p-error {
    color: #f44336;
  }

  .p-text-secondary {
    color: #6c757d;
  }

  .pi {
    font-size: 1rem;
  }

  .p-link {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-radius: 3px;
  }
  .p-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffe69c;
  }

  .p-component-overlay-enter {
    animation: p-component-overlay-enter-animation 150ms forwards;
  }

  .p-component-overlay-leave {
    animation: p-component-overlay-leave-animation 150ms forwards;
  }

  @keyframes p-component-overlay-enter-animation {
  from {
  background-color: transparent;
  }
  to {
  background-color: var(--maskbg);
  }
  }
  @keyframes p-component-overlay-leave-animation {
  from {
  background-color: var(--maskbg);
  }
  to {
  background-color: transparent;
  }
  }

    :root {
      --blue-50:#f4fafe;
      --blue-100:#cae6fc;
      --blue-200:#a0d2fa;
      --blue-300:#75bef8;
      --blue-400:#4baaf5;
      --blue-500:#2196f3;
      --blue-600:#1c80cf;
      --blue-700:#1769aa;
      --blue-800:#125386;
      --blue-900:#0d3c61;
      --green-50:#f6fbf6;
      --green-100:#d4ecd5;
      --green-200:#b2ddb4;
      --green-300:#90cd93;
      --green-400:#6ebe71;
      --green-500:#4caf50;
      --green-600:#419544;
      --green-700:#357b38;
      --green-800:#2a602c;
      --green-900:#1e4620;
      --yellow-50:#fffcf5;
      --yellow-100:#fef0cd;
      --yellow-200:#fde4a5;
      --yellow-300:#fdd87d;
      --yellow-400:#fccc55;
      --yellow-500:#fbc02d;
      --yellow-600:#d5a326;
      --yellow-700:#b08620;
      --yellow-800:#8a6a19;
      --yellow-900:#644d12;
      --cyan-50:#f2fcfd;
      --cyan-100:#c2eff5;
      --cyan-200:#91e2ed;
      --cyan-300:#61d5e4;
      --cyan-400:#30c9dc;
      --cyan-500:#00bcd4;
      --cyan-600:#00a0b4;
      --cyan-700:#008494;
      --cyan-800:#006775;
      --cyan-900:#004b55;
      --pink-50:#fef4f7;
      --pink-100:#fac9da;
      --pink-200:#f69ebc;
      --pink-300:#f1749e;
      --pink-400:#ed4981;
      --pink-500:#e91e63;
      --pink-600:#c61a54;
      --pink-700:#a31545;
      --pink-800:#801136;
      --pink-900:#5d0c28;
      --indigo-50:#f5f6fb;
      --indigo-100:#d1d5ed;
      --indigo-200:#acb4df;
      --indigo-300:#8893d1;
      --indigo-400:#6372c3;
      --indigo-500:#3f51b5;
      --indigo-600:#36459a;
      --indigo-700:#2c397f;
      --indigo-800:#232d64;
      --indigo-900:#192048;
      --teal-50:#f2faf9;
      --teal-100:#c2e6e2;
      --teal-200:#91d2cc;
      --teal-300:#61beb5;
      --teal-400:#30aa9f;
      --teal-500:#009688;
      --teal-600:#008074;
      --teal-700:#00695f;
      --teal-800:#00534b;
      --teal-900:#003c36;
      --orange-50:#fff8f2;
      --orange-100:#fde0c2;
      --orange-200:#fbc791;
      --orange-300:#f9ae61;
      --orange-400:#f79530;
      --orange-500:#f57c00;
      --orange-600:#d06900;
      --orange-700:#ac5700;
      --orange-800:#874400;
      --orange-900:#623200;
      --bluegray-50:#f7f9f9;
      --bluegray-100:#d9e0e3;
      --bluegray-200:#bbc7cd;
      --bluegray-300:#9caeb7;
      --bluegray-400:#7e96a1;
      --bluegray-500:#607d8b;
      --bluegray-600:#526a76;
      --bluegray-700:#435861;
      --bluegray-800:#35454c;
      --bluegray-900:#263238;
      --purple-50:#faf4fb;
      --purple-100:#e7cbec;
      --purple-200:#d4a2dd;
      --purple-300:#c279ce;
      --purple-400:#af50bf;
      --purple-500:#9c27b0;
      --purple-600:#852196;
      --purple-700:#6d1b7b;
      --purple-800:#561561;
      --purple-900:#3e1046;
      --red-50:#fff5f5;
      --red-100:#ffd1ce;
      --red-200:#ffada7;
      --red-300:#ff8980;
      --red-400:#ff6459;
      --red-500:#ff4032;
      --red-600:#d9362b;
      --red-700:#b32d23;
      --red-800:#8c231c;
      --red-900:#661a14;
  }



  .p-galleria .p-galleria-close {
    margin: 0.5rem;
    background: transparent;
    color: #f8f9fa;
    width: 4rem;
    height: 4rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
  }
  .p-galleria .p-galleria-close .p-galleria-close-icon {
    font-size: 2rem;
  }
  .p-galleria .p-galleria-close:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #f8f9fa;
  }
  .p-galleria .p-galleria-item-nav {
    background: transparent;
    color: #f8f9fa;
    width: 4rem;
    height: 4rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    margin: 0 0.5rem;
  }
  .p-galleria .p-galleria-item-nav .p-galleria-item-prev-icon,
  .p-galleria .p-galleria-item-nav .p-galleria-item-next-icon {
    font-size: 2rem;
  }
  .p-galleria .p-galleria-item-nav:not(.p-disabled):hover {
    background: rgba(255, 255, 255, 0.1);
    color: #f8f9fa;
  }
  .p-galleria .p-galleria-caption {
    background: rgba(0, 0, 0, 0.5);
    color: #f8f9fa;
    padding: 1rem;
  }
  .p-galleria .p-galleria-indicators {
    padding: 1rem;
  }
  .p-galleria .p-galleria-indicators .p-galleria-indicator button {
    background-color: #e9ecef;
    width: 1rem;
    height: 1rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
  }
  .p-galleria .p-galleria-indicators .p-galleria-indicator button:hover {
    background: #dee2e6;
  }
  .p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
    background: #FFF3E0;
    color: #495057;
  }
  .p-galleria.p-galleria-indicators-bottom .p-galleria-indicator, .p-galleria.p-galleria-indicators-top .p-galleria-indicator {
    margin-right: 0.5rem;
  }
  .p-galleria.p-galleria-indicators-left .p-galleria-indicator, .p-galleria.p-galleria-indicators-right .p-galleria-indicator {
    margin-bottom: 0.5rem;
  }
  .p-galleria.p-galleria-indicator-onitem .p-galleria-indicators {
    background: rgba(0, 0, 0, 0.5);
  }
  .p-galleria.p-galleria-indicator-onitem .p-galleria-indicators .p-galleria-indicator button {
    background: rgba(255, 255, 255, 0.4);
  }
  .p-galleria.p-galleria-indicator-onitem .p-galleria-indicators .p-galleria-indicator button:hover {
    background: rgba(255, 255, 255, 0.6);
  }
  .p-galleria.p-galleria-indicator-onitem .p-galleria-indicators .p-galleria-indicator.p-highlight button {
    background: #FFF3E0;
    color: #495057;
  }
  .p-galleria .p-galleria-thumbnail-container {
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem 0.25rem;
  }
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
    margin: 0.5rem;
    background-color: transparent;
    color: #f8f9fa;
    width: 2rem;
    height: 2rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
  }
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev:hover,
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #f8f9fa;
  }
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-item-content:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffe69c;
  }

  .p-galleria-mask {
    --maskbg: rgba(0, 0, 0, 0.9);
  }


  .p-rating .p-rating-icon {
    color: #dfe2e7;
    margin-left: 0.5rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    font-size: 3rem;
  }
  .p-rating .p-rating-icon.p-rating-cancel {
    color: #e74c3c;
  }
  .p-rating .p-rating-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffe69c;
  }
  .p-rating .p-rating-icon:first-child {
    margin-left: 0;
  }
  .p-rating .p-rating-icon.pi-star-fill {
    color: #FFC107;
  }
  .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
    color: #FFC107;
  }
  .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon.p-rating-cancel:hover {
    color: #c0392b;
  }
  .comic_title{
    margin-bottom: 1.5rem;
  }

  .p-toast {
    opacity: 0.9;
  }
  .p-toast .p-toast-message {
    margin: 0 0 1rem 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
  }
  .p-toast .p-toast-message .p-toast-message-content {
    padding: 1rem;
    border-width: 0 0 0 6px;
  }
  .p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: 0 0 0 1rem;
  }
  .p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: 2rem;
  }
  .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-weight: 700;
  }
  .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: 0.5rem 0 0 0;
  }
  .p-toast .p-toast-message .p-toast-icon-close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }
  .p-toast .p-toast-message .p-toast-icon-close:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  .p-toast .p-toast-message .p-toast-icon-close:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffe69c;
  }

  .p-toast .p-toast-message.p-toast-message-success {
    background: rgba(88, 126, 239, 0.8);
    border: solid #0a39b0;
    border-width: 0 0 0 6px;
    color: #FFFFFF;
  }
  .p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: #FFFFFF;
  }


