<template>
    <div class="masiv-home">
        <div class="masiv-home__header">
            <div class="masiv-home__header-title">
                <h1>
                    <span>{{ title }}</span>
                </h1>
            </div>
        </div>
        <div class="masiv-home__content">
            <div class="masiv-home__content-text">
                <p class="font-italic">
                    {{ text }}
                </p>
            </div>
            <div>
              <masiv-rating/>
            </div>
        </div>
    </div>
</template>
<script>
import {ref} from 'vue'
import MasivRating from './MasivRating.vue';
export default {
  name: "MasivHome",
  components:{
    MasivRating
  },
  setup(){
    const title = ref('Hola, soy Juan Eduardo');
    const text = ref('Soy un desarrollador de software y esta es una prueba para MASIV');
    return {
      title,
      text
    }
  }
}
</script>