<template>
  <Toast />
  <div class="flex flex-column">
    <div class="p-fluid comic_title">
      <h3 v-for="image in images" style="margin-bottom: .5rem;" >
        {{image.title}}
      </h3>
    </div>
    <div class="content_galeria flex justify-content-center">
      <Galleria
          :value="images"
          :responsiveOptions="responsiveOptions"
          :numVisible="1"
          containerStyle="max-width: 720px"
          :showThumbnails="false"
      >
        <template #item="{item}">
          <div class="wrap-image">
            <img
                :src="item.img"
                :alt="item.alt"
                style="width: 100%;
              display: block;"
            />
          </div>
        </template>
      </Galleria>
    </div>
    <div class="comic_description">
      <div class="card" v-for="image in images">
        <div class="flex flex-wrap align-items-center justify-content-center card-container">
          <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
                font-bold  text-white border-round m-2 px-5 py-3">
            {{image.alt}}
          </div>
        </div>
      </div>
    </div>
    <div class="content_rating flex justify-content-center mt-3">
      <Rating v-model="calificacion" :stars="5" :cancel="false" @change="handleRating"/>
    </div>
  </div>
</template>
<script>
import Rating from 'primevue/rating';
import Galleria from 'primevue/galleria';
import { useToast } from "primevue/usetoast";
import { ref, onMounted } from 'vue';
import ComicService from "../services/comic.service";
export default {
  name: "MasivRating",
  components:{
    Rating,
    Galleria
  },
  setup() {
    const toast = useToast();
    const calificacion = ref(1);
    const responsiveOptions = ref([
      {
        breakpoint: '1024px',
        numVisible: 3
      },
      {
        breakpoint: '768px',
        numVisible: 2
      },
      {
        breakpoint: '560px',
        numVisible: 1
      }
    ]);
    const images = ref([]);
    const _comicService = ref(new ComicService());
    onMounted(() => {
      _comicService.value.getComics01().then(({data}) => {
        images.value = [data];
      }).catch(error => {
        console.log(error);
      });
    });
    const handleRating = (e) => {
      toast.add({severity:'success', summary: 'Exelente!', detail:'has calificado el COMIC', life: 1500});
      console.log(e)
    };
    return {
      calificacion,
      images,
      responsiveOptions,
      handleRating
    }
  }
}
</script>
<style lang="scss" >
@import "src/assets/sass/animations.scss";
</style>