<script setup>
import MasivHome from './components/MasivHome.vue'
</script>
<template>
  <MasivHome/>
</template>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #FFFFFF;
  margin-top: 60px;
}
html{
  background-image: linear-gradient(207deg, #03032a, #0707f1);
}
</style>
